{% extends "layout.html" %}

{% block content %}
    <html><head>
        <title>How it Work</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=0.25">
        
        <!-- bootstrap - 3.3.7 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">


        <!-- jQuery - 3.3.1 -->
        <script src="{{ url_for('static', filename='jQuery/jquery-3.3.1.min.js') }}"></script>


        <style>
            html, body {margin: 0; height: 100%;background-color: #1b3c48;}
             
            .allcan{
                 width:20px;
                 height:60px;
                 position:absolute;
                 border:1px solid #10e9ff;
                 z-index:1;
                 border-radius: 10px;
                 background-color:white;
            }
            .allcircle{ 
                       padding: 10px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: grey;
                        position: absolute;
                        margin: 112px -19px;
                        z-index:2;
                        
                        
            }
            .board{
                position: absolute; 
                    border-radius: 10px;
                /*border-radius:10px;*/
                      padding-top: 41px;
					  font-family:cursive;
                    
                left: 0;
                background-color:#326d88;
                color:white;
                text-align:center;
                display:none;
                top:0; 
                z-index: 1;
               
                width:200px; 
                /*line-height:125px;*/
                word-spacing: 0px;
                height:100px;
                border:1px solid #326d88;
                
            }
            .panel-primary{display:none;border-radius:20px !important;
            background-color: #326d88;}
            .panel-body {
                border-radius:20px !important;
                background-color: #326d88;
                color: white;
              font-size:15px;
             min-height: 70px;
             max-height:70px;

}
h2{
        background-color: #326d88;
    color: white;
    margin-top: 0px;
    
}
/*.about{padding:5px;border:1px solid red;}*/
        </style>
    </head>
<body>
    <div id="ab">
    
    <div class="row" style="margin-top:5px;">
            <!--<span style="color:white;"> START</span>-->
        <div style="position:relative" class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-4 col-xs-offset-3">
          <span style="margin-left:20px;">  
           <canvas id="myCanvas" class="allcan"></canvas>
         
         <span id="circ1" class="allcircle" style="margin: 50px -10px;">
                   <img class="manImg" src=" {{ url_for('static', filename='images/right.png') }}" style="width:20px;height:20px;">
         </span>
          <span id="disp1" class="board" style="margin: 18px 74px;"></span>  
          
         <canvas id="myCanvas2" class="allcan" style="margin: 83px 0px;"></canvas>
         <span id="circ12" class="allcircle" style="margin: 134px -10px;">
                   <img class="manImg" src=" {{ url_for('static', filename='images/right.png') }}" style="width:20px;height:20px;">
         </span>
         <span id="disp12" class="board" style="margin: 108px -183px;"></span>
         <!-- line number two  -->
         <canvas id="myCanvas3" class="allcan" style="margin: 166px 0px;"></canvas>
         <span id="circ13" class="allcircle" style="margin: 218px -10px;">
                   <img class="manImg" src=" {{ url_for('static', filename='images/right.png') }}" style="width:20px;height:20px;">
         </span>
         <span id="disp13" class="board" style="margin: 187px 71px;"></span>
         
           <!-- line number three  -->
           <canvas id="myCanvas4" class="allcan" style="margin: 250px 0px;"></canvas>
         <span id="circ14" class="allcircle" style="margin: 301px -10px;">
                   <img class="manImg" src=" {{ url_for('static', filename='images/right.png') }}" style="width:20px;height:20px;">
         </span>
         <span id="disp14" class="board" style="margin: 278px -184px;"></span>
         
          <!-- line number four  -->
           <canvas id="myCanvas5" class="allcan" style="margin: 333px 0px;"></canvas>
         <span id="circ15" class="allcircle" style="margin: 383px -10px;">
                   <img class="manImg" src=" {{ url_for('static', filename='images/right.png') }}" style="width:20px;height:20px;">
         </span>
         <span id="disp15" class="board" style="margin: 354px 71px;"></span>
         
          <!-- line number five  -->
           <canvas id="myCanvas6" class="allcan" style="margin: 415px 0px;"></canvas>
         <span id="circ16" class="allcircle" style="margin: 466px -10px;">
                   <img class="manImg" src=" {{ url_for('static', filename='images/right.png') }}" style="width:20px;height:20px;">
         </span>
         <span id="disp16" class="board" style="margin: 440px -186px;"></span>
         
          <!-- line number five  -->
          <canvas id="myCanvas7" class="allcan" style="margin: 499px 0px;"></canvas>
		  </span>
        </div>
         <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
            <div class="about">
            <div class="panel panel-primary" id="pan1" >
                <div class="panel-body">
                   Web Scrapping is the process of extracting data from web without visiting
                   any website.
                </div>
            </div>
            <div class="panel panel-primary" id="pan2" >
                <div class="panel-body">
               Text summarization is the process of shortening a text document using AI Technique. 
                </div>
            </div>
            <div class="panel panel-primary" id="pan3" >
                <div class="panel-body">
                     Selection of most Important word from the sentences.  
                </div>
            </div>
            <div class="panel panel-primary" id="pan4" >
                <div class="panel-body">
                    Question formation.
                </div>
            </div>
            <div class="panel panel-primary" id="pan5" >
                <div class="panel-body">
                    Generation of appropriate option.
                </div>
            </div>
            <div class="panel panel-primary" id="pan6" >
                <div class="panel-body">
                   User can take test.
                </div>
            </div>
            </div>
        </div>
        

    </div>
<script>


            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
//            

            var y = 0;
            var x = 0;
            var z=0;
            var m= 0;
            var n= 0;
            var p=0;
            var q=0;
            function draw() {
                if (y < 204)
                {
                    var grd = ctx.createLinearGradient(0, 0, c.width, c.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");
                    ctx.fillStyle = grd;
                    ctx.fillRect(0, 0, 500, y);
                }
                y=y+3;
                if (y === 204)
                {
                    $("#circ1").css({"background-color": "#10e9ff","transaction":"3s"});
//                    $("#disp1").css({"background-color": "red"});
                    $("#disp1").show(1000);
                    $("#pan1").slideDown(1000);
                    $("#disp1").append("WEB SCRAPPING");
                    mark();


                }
               
            }
            function draw2() {
                var d = document.getElementById("myCanvas2");
                var ctx2 = d.getContext("2d");
                if (x < 204)
                {
                    var grd = ctx2.createLinearGradient(0, 0, d.width, d.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");;
                    ctx2.fillStyle = grd;
                    ctx2.fillRect(0, 0, 500, x);
                }
                x=x+2;
                if (x === 204)
                {
                     $("#circ12").css({"background-color": "#10e9ff","transaction":"3s"});
//                    $("#disp12").css({"background-color": "red"});
                    $("#disp12").show(1000);
                    $("#pan2").slideDown(1000);
                    $("#disp12").append("TEXT SUMMARIZATION");
                    mark1();

                }
            }
            function draw3() {
                var e = document.getElementById("myCanvas3");
                var ctx3 = e.getContext("2d");
                if (z < 204)
                {
                    var grd = ctx3.createLinearGradient(0, 0, e.width, e.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");
                    ctx3.fillStyle = grd;
                    ctx3.fillRect(0, 0, 500, z);
                }
                z=z+2;
                if (z === 204)
                {
                     $("#circ13").css({"background-color": "#10e9ff","transaction":"3s"});
//                    $("#disp13").css({"background-color": "red"});
                    $("#disp13").show(1000);
                    $("#pan3").slideDown(1000);
                    $("#disp13").append("GAP SELECTION");
                    mark2();

                }
            }
            function draw4() {
                var e = document.getElementById("myCanvas4");
                var ctx4 = e.getContext("2d");
                if (m < 204)
                {
                    var grd = ctx4.createLinearGradient(0, 0, e.width, e.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");
                    ctx4.fillStyle = grd;
                    ctx4.fillRect(0, 0, 500, m);
                }
                m=m+2;
                if (m === 204)
                {
                     $("#circ14").css({"background-color": "#10e9ff","transaction":"3s"});
//                    $("#disp14").css({"background-color": "red"});
                    $("#disp14").show(1000);
                    $("#pan4").slideDown(1000);
                    $("#disp14").append("QUESTION FORMATION");
                    mark3();

                }
            }
            function draw5() {
                var e = document.getElementById("myCanvas5");
                var ctx5 = e.getContext("2d");
                if (n < 204)
                {
                    var grd = ctx5.createLinearGradient(0, 0, e.width, e.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");
                    ctx5.fillStyle = grd;
                    ctx5.fillRect(0, 0, 500, n);
                }
                n=n+2;
                if (n === 204)
                {
                     $("#circ15").css({"background-color": "#10e9ff","transaction":"3s"});
//                    $("#disp15").css({"background-color": "red"});
                    $("#disp15").show(1000);
                    $("#pan5").slideDown(1000);
                    $("#disp15").append("OPTION GENERATION");
                    mark4();

                }
            }
            function draw6() {
                var e = document.getElementById("myCanvas6");
                var ctx6 = e.getContext("2d");
                if (p < 204)
                {
                    var grd = ctx6.createLinearGradient(0, 0, e.width, e.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");
                    ctx6.fillStyle = grd;
                    ctx6.fillRect(0, 0, 500, p);
                }
                p=p+2;
                if (p === 204)
                {
                     $("#circ16").css({"background-color": "#10e9ff","transaction":"3s"});
//                    $("#disp16").css({"background-color": "red"});
                    $("#disp16").show(1000);
                   $("#pan6").slideDown(1000);
                    $("#disp16").append("TAKE TEST");
                    mark5();

                }
            }
            function draw7() {
                var e = document.getElementById("myCanvas7");
                var ctx7 = e.getContext("2d");
                if (q < 204)
                {
                    var grd = ctx7.createLinearGradient(0, 0, e.width, e.height);
                    grd.addColorStop(0, "#cd9cf2");
                    grd.addColorStop(1, "#453a94");
                    ctx7.fillStyle = grd;
                    ctx7.fillRect(0, 0, 500, q);
                }
                q=q+2;
//                
            }
            setInterval(draw,15);
            function mark(){setInterval(draw2,15);}
            function mark1(){setInterval(draw3,15);}
            function mark2(){setInterval(draw4,15);}
            function mark3(){setInterval(draw5,15);}
            function mark4(){setInterval(draw6,15);}
            function mark5(){setInterval(draw7,15);}
//            function mark
      


        </script>


 
</div></body></html>
{% endblock content %}