
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap - 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">


    <!-- jQuery - 3.3.1 -->
    <script src="{{ url_for('static', filename='jQuery/jquery-3.3.1.min.js') }}"></script>


    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/TutorialList.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
        
</head>

<body>

        <div class="clever-catagory bg-img-1">
            <h2 class="heading text-center">Select Your Topics</h2>
   <!--             <form action="" class="form-box">
                    <input type="text" placeholder="Search Course" class="input-box">
                    <button type="button" class="search-btn">Search</button>
                </form> -->
        </div>
<br>

        <div class="container">
        <div class="clever-catagory bg-img-2">
            <h3 class="heading text-center">Upload a PDF File here to Generate Questions</h3>
            <form action = "/uploader" method = "POST" class="form-box" enctype = "multipart/form-data">
                    <input type="file" name="file" id="inputfile">
                    <label for="inputfile" class="input-box" id="upload-label">Select file here..</label>
                    <button type="submit" class="search-btn" id="upload-btn">Upload</button>
                </form>
        </div>
        </div>

        
        <div class="container">
            <!-- JavaScript -->
            <script>var n = 0;</script>
            {% for post in posts %}
                <!-- JavaScript -->
                <script>n++;</script>

            <div class="col-lg-4 col-md-4 col-sm-6 content">
                <div class="padding20 text-center" id="{{ post.Id }}"  style="background-color: white">
                    {{ post.TopicName }}
                    <div class="learn" style="position:absolute; " >
                        <input type="button" class="btn btn-primary" value="Learn" id="learn-{{ post.Id }}">
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="modal">
                <div class="loader">
	  	    <span></span>
	  	    <span></span>
		    <span></span>
	  	    <span></span>
	  	    <span></span>
	  	    <span></span>
		    <span></span>
	  	    <h1>Loading</h1>
		</div>
            </div>
        </div>


        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        </script>

        <script>
            $(document).ready(function () {
                $('input[type="file"]').change(function (e) {
                    $("#upload-label").text(e.target.files[0].name);
                });
                $(".padding20").hover(function(){
                    $(".learn",this).slideToggle(200);
                });



                var id;
                for (var i = 1; i <= n; i++) {
                    $('#learn-' + i).on("click", redirectUrl);
                }

                function redirectUrl() {
                    var id=this.id.split('-')[1];
                    var url = $.trim($("#"+id).text());
                    // console.log($.trim($("#"+id).text()));
                    url = url.replace(/ /g, '_');
                    $(".modal").show();
                    // console.log(url);
                    window.location.href = "/TopicContent/" + url;
                }



                $("#upload-btn").click(function(){
					if($("#inputfile").val()=="")
					{
						alert("select a file first to upload");
					}
					else{
						var arr = $("#inputfile").val().split("\\");
						var arr1 = arr[arr.length-1].split(".");
						if(arr1[arr1.length-1]!='pdf'){
							alert("Select a pdf file only");
						}
                        else{
                            $(".modal").show();
                        }
					}
				});



                $.ajax({
                    url:" {{url_for('static', filename='json/tutorialList.json') }}",
                    method:"GET",
                    success:function(response){
                        console.log(response);
                    }
                });

            });
        </script>
		

<script>
            // $(document).ready(function () {
            //     var myApp = angular.module('myApp', []);
            //     myApp.controller('SearchController', function ($scope, $http) {
            //         $http({
            //             method: "GET",
            //             url: "{{url_for('static', filename='json/tutorialList.json') }}"
            //         })
            //         .then(function mySuccess(response) {
            //             $scope.tutorialList = response.data;
            //             console.log(response);
            //             console.log("yeas");
            //         },
            //         function myError(response) {
            //             $scope.myWelcome = response.statusText;
            //             console.log(response);
            //             console.log("yeas");
            //         })
            //     });
            // });
            // $http.get("{{url_for('static', filename='json/tutorialList.json') }}")
            //     .success(function (data) {
            //         $scope.tutorialList = data.Topics;
            //         console.log(data);
            //     });
        </script>

</body>

</html>